body {
  /* background: linear-gradient(#d3cce3, #e9e4f0) no-repeat; */
  background: #bdbffd5b;
  margin-bottom: 150px;
}

.title-wrapper {
  text-align: center;
  letter-spacing: 0.8px;
  margin-bottom: -20px;
}

.title {
  font-weight: normal;
  font-size: 22px;
  padding-top: 30px;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  /* grid-template-columns: 100px 100px 100px 100px; */
  grid-gap: 15px;
  margin: 100px;
  margin-left: 35%;
  padding-top: 100px;
}

.pad1,
.pad2,
.pad3,
.pad4,
.pad5,
.pad6,
.pad7,
.pad8,
.pad9,
.pad10,
.pad11,
.pad12 {
  height: 100px;
  width: 100px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 5px 2px 5px rgb(196, 191, 191);
}

.padName {
  padding-top: 40%;
  color: white;
  font-size: 10px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}

.pad1 {
  background: #bdbffd;
}
.pad2 {
  background: #a6a8fa;
}
.pad3 {
  background: #9b9dfd;
}
.pad4 {
  background: #8c8ef8;
}

.pad5 {
  background: #fec792;
}
.pad6 {
  background: #f8b06c;
}
.pad7 {
  background: #f7a456;
}
.pad8 {
  background: #f79437;
}
.pad9 {
  background: #8afddc;
}
.pad10 {
  background: #b5fcaa;
}
.pad11 {
  background: #b1f9a2;
}
.pad12 {
  background: #acf598;
}
